// ↔↔↔↔↔↔↔↔↔↔↔↔↔↔↔↔↔↔↔↔↔↔↔↔↔↔↔↔↔↔↔↔
//    Menu Styles
// ↔↔↔↔↔↔↔↔↔↔↔↔↔↔↔↔↔↔↔↔↔↔↔↔↔↔↔↔↔↔↔↔
.menu {
	&-sidebar {
		display: none;

    @media screen and (min-width: 768px) {
      display: block;
      flex: none;
      width: 35%;
      padding: 1rem;
      border-right: 1px solid black;

      &-content {
        width: 300px;
      }
    }
	}

  &-category-list {
    a {
      display: block;
      padding: 0.5rem;
      margin-bottom: 0.5rem;

      &.active {
        background-color: lightgray;
      }
    }
  }
	
	&-content {
		display: block;
		flex-basis: 0;
		flex-grow: 1;
		flex-shrink: 1;
		padding: 1rem;

    section {
      width: 100%;
      padding-bottom: 2rem;
    }
	}

  &-list {
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
  }
}
