.btn,
button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  color: black;
  font-size: 14px;
  font-weight: 600;
  background: $blue;
  border: 1px solid black;
  border-radius: 6px;
  opacity: 1;
  transistion: opacity 0.5s;

  span {
    margin-left: 0.5rem;
  }

  &:hover {
    opacity: 0.8;
  }

  &.-alt {
    color: black;
    background: transparent;
    border-color: transparent;
  }
}

// some cool button hover transitions
.bordered-both {
  position: relative;
  transform: perspective(1px) translateZ(0);
  overflow: hidden;

  &:before,
  &:after {
    content: "";
    position: absolute;
    z-index: -1;
    left: 51%;
    right: 51%;
    background: $blue;
    height: 4px;
    transition-property: left, right;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
  }

  &:before {
    top: 0;
  }

  &:after {
    bottom: 0;
  }

  &:hover {
    &:before,
    &:after {
      left: 0;
      right: 0;
    }
  }
}
