// ↔↔↔↔↔↔↔↔↔↔↔↔↔↔↔↔↔↔↔↔↔↔↔↔↔↔↔↔↔↔↔↔
//    Global Styles
// ↔↔↔↔↔↔↔↔↔↔↔↔↔↔↔↔↔↔↔↔↔↔↔↔↔↔↔↔↔↔↔↔
* {
	box-sizing: border-box;
}

html, body {
	margin: 0;
	padding: 0;
	font-size: 16px;
	font-family: 'Avenir', Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

html.-isLocked {
	position: fixed;
	width: 100vw;
	height: 100vh;
	overflow: hidden;

	body {
		position: fixed;
		width: 100vw;
  }
}

#app {
}

.main-page {
  min-height: calc(100vh - 50px - 80px);
}

a {
	color: $green;
	text-decoration: none;
	
	&.active {
		color: crimson;
	}
}

.content {
	padding: 1rem;

  @include breakpoint(xLarge) {
    max-width: 1440px;
    margin: auto;
  }
}

.bg-red {
  background-color: $red;
}

.bg-blue {
  background-color: $blue;
}

.bg-green {
  background-color: $green;
}

.bg-gray {
  background-color: $gray;
}

.bg-gray-light {
  background-color: $grayLight;
}

footer {
  display: flex;
  align-items: center;
  height: 80px;
	background-color: $green;
	color: white;
	padding: 0 2rem;
}