// ↔↔↔↔↔↔↔↔↔↔↔↔↔↔↔↔↔↔↔↔↔↔↔↔↔↔↔↔↔↔↔↔
//    Global Styles
// ↔↔↔↔↔↔↔↔↔↔↔↔↔↔↔↔↔↔↔↔↔↔↔↔↔↔↔↔↔↔↔↔
* {
	box-sizing: border-box;
}

html, body {
	margin: 0;
	padding: 0;
	font-size: 16px;
	font-family: 'Avenir', Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

html.-isLocked {
	position: fixed;
	width: 100vw;
	height: 100vh;
	overflow: hidden;

	body {
		position: fixed;
		width: 100vw;
	}
}

body {
  margin-top: 50px;
}

#app {
	@include breakpoint(xLarge) {
		max-width: 1440px;
    margin: auto;
	}
}

a {
	color: green;
	text-decoration: none;
	
	&.active {
		color: red;
	}
}

.page-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
  border-bottom: 2px solid green;
  z-index: map_get($zIndexing, fixed);
}

.content {
	padding: 0 1rem;

  .myImg {
    max-width: 100%;
  }

  .smallImage {
    width: 400px;
    height: 200px;
    background-color: green;
  }

  .background {
    width: 300px;
    height: 300px;
  }
}

/*
*:focus {
  outline-color: transparent;
  box-shadow: 0px 0px 12px 1px rgba(145, 145, 145, 1);
}
*/
