// ↔↔↔↔↔↔↔↔↔↔↔↔↔↔↔↔↔↔↔↔↔↔↔↔↔↔↔↔↔↔↔↔
//    Global Styles
// ↔↔↔↔↔↔↔↔↔↔↔↔↔↔↔↔↔↔↔↔↔↔↔↔↔↔↔↔↔↔↔↔
* {
	box-sizing: border-box;
}

html, body {
	margin: 0;
	padding: 0;
	font-size: 16px;
	font-family: 'Avenir', Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

html.-isLocked {
	position: fixed;
	width: 100vw;
	height: 100vh;
	overflow: hidden;

	body {
		position: fixed;
		width: 100vw;
  }
}

#app {
	/*@include breakpoint(xLarge) {
		max-width: 1440px;
    margin: auto;
	}*/
}

a {
	color: $green;
	text-decoration: none;
	
	&.active {
		color: crimson;
	}
}

.content {
	padding: 1rem;

  @include breakpoint(xLarge) {
    max-width: 1440px;
    margin: auto;
  }
}

/*
*:focus {
  outline-color: transparent;
  box-shadow: 0px 0px 12px 1px rgba(145, 145, 145, 1);
}
*/

.bg-red {
  background-color: $red;
}

.bg-blue {
  background-color: $blue;
}

.bg-green {
  background-color: $green;
}

.bg-gray {
  background-color: $gray;
}

.bg-gray-light {
  background-color: $grayLight;
}

footer {
	background-color: $green;
	color: white;
	padding: 2rem;
}