// Vue
// ------ FADES -----------------------------
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s linear;
}
.fade-enter,
.fade-leave-to  {
  opacity: 0;
}
.fade-enter-to,
.fade-leave {
  opacity: 1;
}

.fade-height-enter-active,
.fade-leave-active {
  transition-duration: 0.3s;
  transition-timing-function: linear;
  transition-property: height, opacity;
  overflow: hidden;
}
.fade-height-enter,
.fade-height-leave-to  {
  opacity: 0;
}
.fade-height-enter-to,
.fade-height-leave {
  opacity: 1;
}

// ------ FLIPS -----------------------------
.flip-down-enter,
.flip-down-leave-to {
  opacity: 0;
  transform: rotateX(90deg);
  transform-origin: top center;
}
.flip-down-enter-to,
.flip-down-leave {
  opacity: 1;
  transform: rotateX(0deg);
  transform-origin: top center;
}

.flip-up-enter-active,
.flip-up-leave-active,
.flip-left-enter-active,
.flip-left-leave-active,
.flip-down-enter-active,
.flip-down-leave-active,
.flip-right-enter-active,
.flip-right-leave-active {
  transition: opacity, transform 300ms ease-out;
}

.flip-right-enter,
.flip-right-leave-to {
  opacity: 0;
  transform: rotateY(90deg);
  transform-origin: left center;
}
.flip-right-enter-to,
.flip-right-leave {
  opacity: 1;
  transform: rotateY(0deg);
  transform-origin: left center;
}

.flip-left-enter,
.flip-left-leave-to {
  opacity: 0;
  transform: rotateY(90deg);
  transform-origin: right center;
}
.flip-left-enter-to,
.flip-left-leave {
  opacity: 1;
  transform: rotateY(0deg);
  transform-origin: right center;
}

.flip-up-enter,
.flip-up-leave-to {
  opacity: 0;
  transform: rotateX(90deg);
  transform-origin: bottom center;
}
.flip-up-enter-to,
.flip-up-leave {
  opacity: 1;
  transform: rotateX(0deg);
  transform-origin: bottom center;
}

// ------ SLIDES -----------------------------
.slide-left-enter-active,
.slide-left-leave-active,
.slide-right-enter-active,
.slide-right-leave-active {
  transition-duration: 0.5s;
  transition-property: height, opacity, transform;
  transition-timing-function: cubic-bezier(0.55, 0, 0.1, 1);
  overflow: hidden;
}

.slide-left-enter,
.slide-right-leave-active {
  opacity: 0;
  transform: translate(2em, 0);
}

.slide-left-leave-active,
.slide-right-enter {
  opacity: 0;
  transform: translate(-2em, 0);
}

// ------ ZOOMS -----------------------------
.zoom-enter-active,
.zoom-leave-active {
  animation-duration: 0.5s;
  animation-fill-mode: both;
  animation-name: zoom;
}

.zoom-leave-active {
  animation-direction: reverse;
}

@keyframes zoom {
  from {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }

  100% {
    opacity: 1;
  }
}

// links
a {
  position: relative;

  &:before {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 51%;
    right: 51%;
    height: 2px;
    background: green;
    transition-property: left, right;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
    z-index: -1;
  }

  &:hover,
  &:focus {
    outline: none;

    &:before {
      left: 0;
      right: 0;
    }
  }

  &.active {
    &:before {
      background: red;
    }
  }
}
