$breakpoints: (
  base: 0,
  small: 30rem,   // 480px
  medium: 48rem,  // 768px
  large: 72rem,   // 1152px
  xLarge: 90rem   // 1440px
);

$maxWidth: 1440px;

$columns: (
  1: 100%,
  2: 47%,
  3: 30%,
  4: 22%
);

$zIndexing: (
  base: 1,
  fixed: 100,
  overlay: 110,
  modal: 115
);

$green: darkolivegreen;
$red: maroon;
$blue: steelblue;
$gray: gray;
$grayLight: lightgray;